<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>{% block title %} {% endblock %} - ProductBot</title>
        {% endblock %}
    </head>
    <body>
        <div class="d-flex flex-column min-vh-100">
            <div id="nav">
                <nav class="navbar navbar-expand-md navbar-light bg-light navbar-fixed-top">
                    <a class="navbar-brand" href="{{ url_for('index') }}">ProductBot</a>
                    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
        {% if userid is none %}
        <li class="nav-item">
            <a class="btn btn-success mr-4" href="{{ url_for('auth.register') }}">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary mr-4" href="{{ url_for('auth.login') }}">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="btn btn-primary mr-4" href="{{ url_for('itemList.itemList') }}">Items</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-secondary mr-4" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% endif %}
    </ul>
</div>
                </nav>
            </div>
            <div class="container" id="content">
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                <div class="footer">
                    <div class="text">
                        <small>Copyright 2021 &copy; ProductBot</small>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>