{% extends 'base.html' %}
{% block title %}Inventory{% endblock %}



{% block content%}
<div class="row h-50">
    <div class="col-sm-12 d-table h-100">
        <div id="accordion" class="d-table-cell align-middle">
    <!--    add item    -->
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Add an item
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-lablledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form method="post" action="{{ url_for('itemList.add') }}" style="color:#000;">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="cost">Cost</label>
                        <input type="number" class="form-control" id="cost" name="cost">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-secondary" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--    item list    -->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Item List
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.productName }}</td>
                <td>{{ item.priceBought }}</td>
                <td>{{ item.isSold }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>
    </div>
</div>

{% endblock %}
